<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <if(typeof(window) !== undefined)>
        <SliderDemo/>
      </if>
    <hr>
    <Siema/>
    <script src=`//${out.global.req ? out.global.req.hostname : window.location.hostname}:3091/static/bundle.js`></script>
  </body>
</html>